body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.card {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 3px solid #ccc;
  border-radius: 4px;
}

.card-image {
  flex: 1;
  margin-right: 20px;
}

.card-content {
  flex: 2;
}

.card-buttons {
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
}

.Github-btn {
  background-color: #5f2dd4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.website-btn {
  background-color: #147d37;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.video-btn {
  background-color: #e1a72b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  display: flex;
  height: 350px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  color: #fff;
  background-color: #4c97f3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header > div:first-of-type {
  margin-bottom: 20px;
}

header > div:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  max-width: 100%;
  height: 300px;
  border-radius: 50%;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin: 0;
  font-size: 28px;
}

.navbar {
  display: flex;
  height: 50px;
  justify-content: flex-end;
  align-items: right;
  padding: 20px;
  background-color: #005387;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: right;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  align-items: right;
}

nav li {
  margin-left: 20px;
  background-position: 100% .4em;
  padding-right: .6em;
  align-items: right;
  font-size: 22px;
}

nav a {
  display: block;
  padding: 10px;
  color: #fefbfb;
  border-radius: 3px;
  text-align: right;
  text-decoration: none;
}

nav a.active,
nav a:hover {
  background-color: #333;
  color: #fff;
}